body {
  margin: 0 auto;
  font-family: 'Roboto', 'sant-serif';
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.crossed {
  text-decoration: line-through;
}
