@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0 auto;
  font-family: 'Space Mono', serif;
  background-color: lightslategray;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  padding-left: 0;
  text-decoration: none;
}

p,
h3 {
  margin: 0;
}

.crossed {
  text-decoration: line-through;
}

.title {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-inline: auto;
  padding-inline: 20px;
}

.button {
  height: 28px;
  padding-inline: 35px;
  font-size: 12px;
  color: #ffffff;
  background-color: #191a23;
  border: 1px solid #191a23;
  border-radius: 14px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  height: 28px;
  padding-inline: 35px;
  font-size: 12px;
  color: #ffffff;
  background-color: #191a23;
  border: 1px solid #191a23;
  border-radius: 14px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 20px;
  padding: 20px;
  border: 1px solid #ffff;
  border-radius: 14px;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
